.shop-body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.product-page {
  padding: 3rem;

  h2 {
    color: $color-choco;
    font-weight: 600;
    border-left: 3px solid $color-choco;
    padding: 1rem;
  }
}
