.aside {
  padding: 3rem;

  &-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem 0;

    li {
      width: 100%;
      border-bottom: 2px solid $color-choco;

      &:first-child {
        border-top: 2px solid $color-choco;
      }

      &:hover {
        background-color: $color-choco;
        color: white;
      }
    }

    a {
      color: inherit;
      font-size: 1.8rem;
      font-weight: 500;
      display: block;
      padding: 1rem;
    }
  }
}
