.page-map {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  color: $color-choco;

  ion-icon {
    color: $color-choco;
    font-size: 2rem;
  }

  a {
    color: inherit;
  }

  span {
    font-size: 1.8rem;
    margin-top: 0.2rem;
  }
}
