// 1200px

@media (max-width: 75em) {
  .products-list-card {
    &-img-box {
      width: 20rem;
      height: 20rem;
    }

    img {
      width: 20rem;
    }
  }
}

// 1055px

@media (max-width: 66em) {
  .carousel {
    height: 33rem;

    img {
      height: 33rem;
    }
  }

  .products-list {
    grid-template-columns: 1fr 1fr;

    &-card {
      &:last-child {
        display: none;
      }

      &-img-box {
        width: 25rem;
        height: 25rem;
      }

      img {
        width: 25rem;
      }
    }
  }
}

// 847px

@media (max-width: 53em) {
  .products-list {
    &-card {
      &-img-box {
        width: 20rem;
        height: 20rem;
      }

      img {
        width: 20rem;
      }
    }
  }
}

// 767px

@media (max-width: 48em) {
  .stores-list-card {
    font-size: 1.5rem;
    gap: 6rem;
  }

  .about {
    p {
      font-size: 1.5rem;
      width: 60rem;
    }
  }
}

// 743px

@media (max-width: 46em) {
  .products-list {
    grid-template-columns: 1fr;

    &-card {
      margin: 0 4rem;
      &:last-child {
        display: flex;
      }

      &-img-box {
        width: 25rem;
        height: 25rem;
      }

      img {
        width: 25rem;
      }
    }
  }

  .stores-list-card {
    gap: 4rem;

    img {
      width: 20rem;
      height: 20rem;
      border-radius: 15px;
    }
  }

  .about {
    p {
      font-size: 1.5rem;
      width: 60rem;
    }
  }
}

// 703px

@media (max-width: 44em) {
  .about {
    p {
      width: 50rem;
    }
  }
}

// 640px

@media (max-width: 40em) {
  .carousel {
    height: 25rem;

    img {
      height: 25rem;
    }
  }

  .products {
    padding-bottom: 0;
  }

  .stores {
    padding-bottom: 0;
  }

  .stores-list-card {
    gap: 4rem;
    padding: 4rem 4rem;
  }

  .about {
    p {
      width: 50rem;
    }
  }
}

// 607px

@media (max-width: 38em) {
  .stores-list-card {
    flex-direction: column;
    margin: 0 4rem;

    img {
      order: 0;
    }

    &-info {
      order: 1;
    }
  }

  .about {
    p {
      width: 40rem;
    }
  }
}

// 543px

@media (max-width: 34em) {
  .products-list {
    &-card {
      &-img-box {
        width: 20rem;
        height: 20rem;
      }

      img {
        width: 20rem;
      }
    }
  }

  .stores-list-card {
    margin: 0 2rem;
  }
}

// 500px

@media (max-width: 31em) {
  .products {
    padding: 6rem 2rem 0 2rem;
  }
}

// 463px

@media (max-width: 29em) {
  .html {
    font-size: 52%;
  }

  .carousel {
    height: 18rem;

    img {
      height: 18rem;
    }
  }

  .products {
    margin-top: 4rem;
  }

  .products-title {
    padding: 1rem 2rem;

    &-btn span {
      font-size: 1.6rem;
    }
  }

  .products-list {
    padding: 4rem 0;
  }

  .stores {
    padding-top: 2rem;

    &-title {
      padding: 1rem 2rem;
    }

    &-list {
      padding: 4rem 2rem;

      &-card {
        margin: 0;
      }
    }
  }

  .about {
    padding-top: 2rem;

    &-title {
      padding: 1rem 2rem;
    }

    p {
      width: 30rem;
    }
  }
}

// 400px

@media (max-width: 25em) {
  .html {
    font-size: 30%;
  }

  .carousel {
    height: 15rem;

    img {
      height: 15rem;
    }
  }

  .products-list-card {
    margin: 0;

    p {
      font-size: 1.6rem;
    }
  }

  .about {
    img {
      width: 20rem;
    }
  }
}

// 367px

@media (max-width: 23em) {
  .products-list {
    &-card {
      padding: 4rem 2rem;

      &-img-box {
        width: 18rem;
        height: 18rem;
      }

      img {
        width: 18rem;
      }
    }
  }

  .stores {
    &-list {
      padding: 4rem 0;

      &-card {
        img {
          width: 18rem;
          height: 18rem;
        }
      }

      &-card-info {
        width: 20rem;
      }
    }
  }

  .about {
    p {
      width: 25rem;
    }
  }
}

// 320px

@media (max-width: 20em) {
  .carousel {
    height: 12rem;

    img {
      height: 12rem;
    }
  }

  .about {
    img {
      width: 18rem;
    }

    p {
      width: 20rem;
    }
  }

  .stores-list-card-info {
    display: grid;
    place-items: center;
  }
}

// 300px

@media (max-width: 19em) {
  .stores {
    padding: 6rem 2rem 4rem 2rem;
  }

  .stores-list-card {
    padding: 4rem 2rem;
  }
  .stores-list-card img {
    width: 16rem;
    height: 16rem;
  }

  .stores-list-card-info-box {
    padding: 1rem;
    width: 60vw;
    justify-self: center;
  }
}
