// 640px

@media (max-width: 40em) {
  .nav-list {
    gap: 3rem;
  }
}

// 463px

@media (max-width: 29em) {
  .footer-link {
    flex-direction: column;
  }
}

// 367px

@media (max-width: 23em) {
  .header-logo {
    img {
      height: 3rem;
    }
  }

  .footer-logo {
    height: 3rem;

    &-main {
      transform: scale(0.8);
      margin-top: 0.2rem;
    }
  }
}

// 320px

@media (max-width: 20em) {
  .header-logo {
    img {
      height: 2.8rem;
    }
  }

  .footer-link a {
    font-size: 1.3rem;
  }

  .footer-copyright {
    font-size: 1.3rem;
  }
}

// 300px

@media (max-width: 19em) {
  .footer {
    padding: 3rem;
  }
}

// 280px

@media (max-width: 18em) {
  .header-logo {
    img {
      height: 2.4rem;
    }
  }
}
