// 1055px

@media (max-width: 66em) {
  .shop-body {
    grid-template-columns: 1fr;
    place-content: center;
    margin: 4rem;
  }

  .aside {
    display: none;
  }

  .item-img {
    img {
      width: 28rem;
    }
  }

  .cart {
    &-list-tital {
      span {
        &:nth-child(2) {
          margin-left: 2rem;
        }
      }
    }
  }
}

// 960px

@media (max-width: 60em) {
  .product-list {
    &-card {
      width: 16rem;

      img {
        width: 16rem;
      }
    }
  }

  .item-img {
    img {
      width: 25rem;
    }
  }
}

// 895px

@media (max-width: 56em) {
  .product-list {
    padding: 1rem;
  }

  .item-img {
    img {
      width: 20rem;
    }
  }

  .cart {
    padding: 2rem;
  }
}

// 831px

@media (max-width: 52em) {
  .product-list {
    &-card {
      width: 14rem;

      img {
        width: 14rem;
      }
    }
  }

  .item-text {
    h2 {
      font-size: 2.5rem;
    }
  }

  .cart {
    padding: 1rem;

    &-list-tital {
      span {
        &:nth-child(2) {
          margin-left: 4rem;
        }
      }
    }

    &-list-item {
      padding: 2rem;
    }
  }
}

// 767px

@media (max-width: 48em) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);

    &-card {
      width: 18rem;

      img {
        width: 18rem;
      }
    }
  }

  .item {
    gap: 4rem;
    padding: 4rem 2rem;
    grid-template-columns: 1fr 1.2fr 0.5fr;
  }

  .item-img {
    img {
      width: 15rem;
    }
  }

  .item-text {
    gap: 1rem;

    h2 {
      font-size: 2.3rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 1.5;
    }
  }

  .cart {
    &-list-tital {
      span {
        &:nth-child(2) {
          margin-left: 3rem;
        }
      }
    }
  }

  .cart-list-item {
    height: 18rem;

    img {
      height: 13rem;
    }

    &-text {
      font-size: 1.6rem;
    }

    &-quantity {
      font-size: 1.6rem;

      &-box {
        gap: 1rem;
      }
    }
  }
}

// 703px

@media (max-width: 44em) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);

    &-card {
      width: 23rem;

      img {
        width: 23rem;
      }
    }
  }

  .item {
    gap: 4rem;
    padding: 4rem 2rem;
    grid-template-columns: 1fr 0.5fr 0.8fr;
    row-gap: 8rem;

    &-text {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    &-buy {
      grid-column-start: 2;
      grid-column-end: 4;
      border: 4px solid $color-choco;
    }
  }
}

// 671px

@media (max-width: 42em) {
  .product-list {
    &-card {
      width: 20rem;

      img {
        width: 20rem;
      }
    }
  }

  .cart-list-item {
    &-quantity-flexbox {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
}

// 640px

@media (max-width: 40em) {
  .menu-bar-icon {
    top: 5rem;
    background-color: $color-choco;
    border-radius: 1100px;

    ion-icon {
      color: #fff;

      &:hover {
        color: lighten($color-choco, 15%);
      }
    }

    span {
      background-color: white;
      color: $color-choco;
    }
  }

  .cart-list-tital {
    font-size: 1.8rem;
  }

  .cart-list-item {
    height: 15rem;

    img {
      height: 10rem;
    }
  }
}

// 607px

@media (max-width: 38em) {
  .product-list {
    &-card {
      width: 18rem;

      img {
        width: 18rem;
      }
    }
  }

  .cart-list-tital {
    font-size: 1.5rem;

    span:nth-child(2) {
      margin-left: 1rem;
    }
  }
}

// 575px

@media (max-width: 36em) {
  .menu-bar-icon {
    padding: 1rem;
    right: 1rem;
  }

  .product-list {
    &-card {
      width: 16rem;

      img {
        width: 16rem;
      }
    }
  }

  .cart-list-item {
    padding: 1rem 2rem;
    height: 13rem;
  }
}

// 543px

@media (max-width: 34em) {
  .shop-body {
    margin: 3rem;
  }

  .product-list {
    padding: 1rem;
  }

  .cart-list-item-text {
    font-size: 1.4rem;
  }

  .cart-list-item-remove {
    transform: translateX(1rem);
    ion-icon {
      font-size: 2rem;
    }
  }
}

// 495px

@media (max-width: 31em) {
  .shop-body {
    margin: 2rem;
  }

  .item {
    gap: 4rem;
    padding: 4rem 2rem;
    grid-template-columns: 1fr;
    row-gap: 8rem;
    width: 80vw;
    margin: 0 auto 8rem auto;

    &-img {
      display: grid;
      place-items: center;

      img {
        width: 25rem;
      }
    }

    &-text {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &-buy {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  .cart-list-item {
    img {
      height: 8rem;
    }
  }
}

// 463px

@media (max-width: 29em) {
  .menu-bar-list {
    a {
      font-size: 1.5rem;
    }
  }
  .product-list {
    padding: 0.5rem;
    column-gap: 1rem;

    &-card {
      width: 14rem;
      font-size: 1.5rem;

      img {
        width: 14rem;
      }
    }
  }

  .cart {
    padding: 0;
  }

  .cart-list-tital {
    font-size: 1.3rem;
  }

  .cart-list-item {
    height: 11rem;

    img {
      height: 8rem;
    }
  }
}

// 400px

@media (max-width: 25em) {
  .menu-bar-list {
    gap: 1rem;
  }

  .menu-bar-icon {
    ion-icon {
      font-size: 1.8rem;
    }
  }

  .product-list {
    &-card {
      width: 12rem;

      img {
        width: 12rem;
      }

      &-info {
        height: 14rem;
        padding: 2rem 1rem 2rem 1rem;
      }
    }
  }

  .cart-list-tital {
    span:nth-child(2) {
      margin-left: 0;
    }
  }

  .cart-list-item {
    padding: 1rem;

    img {
      height: 6rem;
    }

    &-text {
      gap: 1rem;
    }

    &-quantity-box {
      gap: 0.5rem;
    }

    &-remove {
      transform: translateX(0);
    }
  }
}

// 367px

@media (max-width: 23em) {
  .product-list {
    padding: 0;
    &-card {
      width: 12rem;

      img {
        width: 12rem;
      }
    }
  }

  .item-img img {
    width: 20rem;
  }

  .cart-list-tital {
    font-size: 1.1rem;
  }

  .cart-list-item-text {
    font-size: 1.2rem;

    &-price {
      font-size: 1.5rem;
    }
  }

  .cart-list-item-quantity {
    font-size: 1.4rem;

    &-flexbox {
      gap: 2rem;
    }
  }

  .cart-list-item-remove {
    ion-icon {
      font-size: 1.8rem;
    }
  }
}

// 335px

@media (max-width: 21em) {
  .menu-bar-list {
    a {
      font-size: 1.3rem;
    }
  }

  .member {
    padding: 3rem;

    &-form-btns {
      gap: 1rem;
    }
  }
}

// 320px

@media (max-width: 20em) {
  .page-map {
    margin-left: 1rem;

    ion-icon {
      font-size: 1.8rem;
    }

    span {
      font-size: 1.6rem;
    }
  }

  .cart-list-tital {
    font-size: 1rem;
  }

  .cart-list-item {
    img {
      margin-right: 1rem;
    }

    &-text {
      font-size: 1rem;

      &-price {
        font-size: 1.2rem;
      }
    }

    &-quantity {
      font-size: 1.2rem;
    }
  }

  .cart-total {
    margin: 1.8rem;
    padding: 1.8rem;
    font-size: 1.8rem;
  }
}

// 300px

@media (max-width: 19em) {
  .menu-bar-list {
    a {
      font-size: 1.2rem;
    }
  }

  .page-map {
    padding-top: 1rem;
    margin-left: 3rem;

    ion-icon {
      font-size: 1.6em;
    }

    span {
      font-size: 1.4rem;
    }
  }

  .member {
    padding: 2rem;
  }

  .cart h2 {
    margin: 2rem 0;
  }

  .cart-list-tital {
    font-size: 0.9rem;
  }

  .cart-list-item {
    img {
      height: 4rem;
    }
  }

  .cart-list-item-quantity-box {
    gap: 0.3rem;
  }
}

// 280px

@media (max-width: 18em) {
  .menu-bar-list a {
    font-size: 1rem;
    padding: 1rem 0;
  }

  .item {
    gap: 4rem;
    padding: 4rem 1rem;
  }
}
