// 831px

@media (max-width: 52em) {
  .btn-cart-quantity {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;

    ion-icon {
      font-size: 1.5rem;
    }
  }
}

// 543px

@media (max-width: 34em) {
  .btn-cart-quantity {
    width: 2.5rem;
    height: 2.5rem;

    ion-icon {
      font-size: 1rem;
    }
  }

  .btn-cart {
    font-size: 1.8rem;
    padding: 0.5rem 3rem;
    width: 16rem;
  }
}

// 463px

@media (max-width: 29em) {
  .btn-addtocard {
    font-size: 1.5rem;
  }

  .btn-scroll {
    bottom: 12rem;
  }
}

// 400px

@media (max-width: 25em) {
  .btn-home-card {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
  }

  .btn-cart-quantity {
    background-color: transparent;

    ion-icon {
      font-size: 2rem;
      color: $color-choco;
      transform: translateX(-0.5rem);
    }
  }

  .btn-cart {
    padding: 0.5rem 2rem;
    width: 13rem;
  }
}

// 367px

@media (max-width: 23em) {
  .btn-cart-quantity {
    width: 2rem;
    height: 2rem;

    ion-icon {
      font-size: 1.8rem;
      transform: translate(-0.5rem, -0.4rem);
    }
  }

  .btn-cart {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    width: 11rem;
  }
}

// 320px

@media (max-width: 20em) {
  .btn-cart {
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
    width: 9rem;
  }

  .btn-cms-home {
    font-size: 1.8rem;
    padding: 0.8rem 2rem;
  }

  .contact-form button,
  .contact-form button:link,
  .contact-form button:visited {
    font-size: 1.6rem;
  }

  .btn-scroll {
    width: 4rem;
    height: 4rem;

    ion-icon {
      font-size: 1.8rem;
    }
  }
}

// 300px

@media (max-width: 19em) {
  .btn-cart-quantity {
    width: 2rem;
    height: 2rem;

    ion-icon {
      font-size: 1.6rem;
    }
  }
}

// 280px

@media (max-width: 18em) {
}
