.cms {
  padding: 5rem 10rem;

  &-form {
    width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $color-bg;
    border-radius: 11px;
    padding: 6rem;

    h2 {
      color: $color-choco;
      font-weight: 600;
    }

    img {
      width: 20rem;
      height: 20rem;
      margin-left: 15rem;
    }

    &-input {
      margin-left: 1rem;
      display: flex;
      gap: 2rem;

      label {
        font-size: 1.8rem;
      }

      input {
        height: 2.5rem;
        font-size: 1.8rem;
      }

      select {
        height: 2.5rem;
        font-size: 1.8rem;
      }

      textarea {
        font-size: 1.8rem;
      }
    }
  }
}
